*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgba(200,154,113, 0.8), rgba(140,235,96));
}
.title{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    color: red;
    background-color: rgba(240, 248, 255, 0.397);
    display: inline-block;
    margin: auto;
    padding: 5px 50px;
    border-radius: 20px;
   
   
    
}
.text-box{
    width: 60%;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
    margin: auto;
    margin-top: 2rem;
    box-shadow: 5px 5px 15px black;
  
  

}
.question-box{
    display: flex;
    justify-content:space-between;
    padding: 20px;
    text-shadow: 1px 1px 1px white;
    
}
.answer-box{
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-size: 1.5rem;
}
.arrowup{
    cursor: pointer;
}
.arrowdown{
    cursor: pointer;
}

@media screen and ( max-width:576px){
    .text-box{
        width: 100%;
    }
}